.carousel-inner img{
    height: calc(100vh - 100px);
    width: 100%;
}

.carousel-caption{
    position: absolute;
    bottom: 15%;
}

.carousel-caption .mainHeading{
    margin-bottom: 130px;
}

.mainHeading{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.carousel-caption form{
    padding: 20px;
}

.form-group {
    display: inline-block;
    left: 20px;
    place-content: center;
}

.card{
    border: none;
}

/* we accept */
.cardBanner i{
    font-size: 60px;
}

.sectionService i{
    font-size: 50px !important;
}

#bannerSubscriibe {
    margin-top: 50px;
}

.rounded-circle{
    padding:10px 30px 0px 30px;
}
  

/* card image in popular packages */
.card-img-overlay .card-title{
    /* top: 100%; */
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.img-height{
    height: 200px;
}
.card-img-overlay{
    top: 140px;
    z-index: 3;
}

.price-rate{
    color: rgb(225, 105, 48);
    font-weight:500;
}
.price-rate span{
    color: rgb(0, 0, 0);
    font-weight: normal;
}

#popularPackages a:hover{
    text-decoration: underline;
}

/* popular destination */
.thumbnail img{
    height: 400px;
}
.thumbnail-title i{
    position: absolute;
    left: 45%;
    top: 0;
    border-radius: 30px;
    background-color: rgb(255, 108, 48);
    opacity: 0;
    padding: 10px;
}
.thumbnail-title h5{
    bottom: 0;
    padding: 1.25rem;
    position: absolute;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.thumbnail span{
    font-size: 14px;
}
.thumbnail:hover{
    background: linear-gradient(rgba(241, 119, 48, 0.801), rgba(0, 0, 0, 1));
}
.thumbnail:hover .thumbnail-title i{
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: visibility-1;
    opacity:1;
    transform: translateY(400%);
}

.card:hover .thumbnail-title i{
    animation-direction: normal;
    animation-duration: 1s;
    animation-name: visibility-2;
    opacity:1;
    transform: translateY(200%);
}

@keyframes visibility-1{
    0% {
        transform: translateY(0%);
        opacity: 0.3}
    100% {
        transform: translateY(400%);
        opacity: 1;}
}
@keyframes visibility-2{
    0% {
        transform: translateY(0%);
        opacity: 0.3}
    100% {
        transform: translateY(200%);
        opacity: 1;}
}



/*Price range Design CSS Starts*/

section.range-slider {
    float: left;
    position: relative;
    /* text-align: center; */
    width: 100%;
}
section.range-slider input[type="range"] {
    background: rgba(0,0,0,0.05);
    border: none;
    border-radius: 14px;
    height: 20px;
    left: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 25px;
    width: 100%;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: red;
}
section.range-slider input[type="range"]::-webkit-slider-thumb {
    border: none;
    border-radius: 14px;
    height: 20px;
    outline: 0;
    pointer-events: all;
    position: relative;
    width: 20px;
    -webkit-appearance: none;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413f41));
    /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #dad8da 0, #413f41 100%);
    /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
    /* W3C */
}
section.range-slider input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 14px;
    height: 20px;
    pointer-events: all;
    position: relative;
    width: 20px;
    -moz-appearance: none;
    z-index: 10;
    background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
    /* W3C */
}
section.range-slider input[type="range"]::-ms-thumb {
    border-radius: 14px;
    border: 0;
    height: 20px;
    pointer-events: all;
    position: relative;
    -ms-appearance: none;
    width: 20px;
    z-index: 10;
    background-image: linear-gradient(to bottom, #dad8da 0, #413f41 100%);
    /* W3C */
}
section.range-slider input[type=range]::-moz-range-track {
    background-color: rgba(0, 0, 0, 1);
    border: 0;
    position: relative;
    z-index: -1;
}
section.range-slider input[type=range]:last-of-type::-moz-range-track {
    background: none transparent;
    border: 0;
    -moz-appearance: none;
}
section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

/*Price range Design CSS ends*/